<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href = "../css/parent.css">
<link rel = "stylesheet" href = "../css/login-register.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src = "../js/login-register.js"></script>
</head>
<body>
<div id = "login">
	<form action = "insertUser" method = "get" id = "form" >
		<div id = "login-head">
			<h2>
				<div><a href = "#">修改</a><span id = "span2"></span></div>
			</h2>
		</div>
		<div id = "login-middle">
			<input name="id" hidden="hidden">
			<div><input type = "text" placeholder="请输入你的姓名" name = "name" class = "register" id = "username"></div>
			<div><input type = "text" placeholder="请设置你的年龄" name = "age" class = "register" id = "nickname"></div>
 			<div><input type = "text" placeholder="请设置你的邮箱" name = "email" class = "register" id = "email"></div>
	 
			<input type = "reset" value = "重置" >
			<input type = "submit" value = "修改">
		</div>
		<div id = "login-down">
			<p><a href = "/userSelect">首页</a></p>
		</div>
	</form>
</div>
</body>
</html>